@model IEnumerable<Infrastructure.Models.Incidente>

@{
    ViewBag.Title = "Index";
}

<h2>Mis incidentes</h2>
<p>
    <a href="@Url.Action("Create", "Incidente")" class="btn btn-primary"><i class="fa-solid fa-plus"></i> Nuevo incidente</a>
    @*@Html.ActionLink("Crear", "Create")*@
</p>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Usuario.Nombre)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Titulo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Descripcion)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EstadoIncidente.Descripcion)
        </th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Usuario.Nombre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Titulo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Descripcion)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EstadoIncidente.Descripcion)
            </td>

        </tr>
    }
</table>
