@model IEnumerable<Infrastructure.Models.Informacion>

@{ ViewBag.Title = "Inicio"; }




<div class="row no-gutters">

    @*IZQUIERDA*@
    <div class="col-xl-4 no-gutters h-md-100">
        <div class="d-md-flex h-md-100 align-items-center pt-2 justify-content-center">
            <div id="resultado" class="px-2 row">

                <div id="" class="p-3 titulo">
                    <h2>Advertencias</h2>
                </div>

                @foreach (var item in Model)
                {

                    if (item.TipoInformacion.Descripcion.Equals("Advertencia"))
                    {

                        <div class="col-sm-6">
                            <div class="card">

                                <div class="card-body">

                                    <h5 class="card-title">@Html.DisplayFor(modelItem => item.TipoInformacion.Descripcion)</h5>
                                    <h6 class="card-subtitle mb-2 text-muted">  @Html.DisplayFor(modelItem => item.Texto)</h6>

                                    @if (item.Doc1 != null)
                                    {
                                        <a href="@Url.Action("DescargarArchivo", "Home", new {id=item.Id})"><i class="fa-solid fa-file-arrow-down"></i></a>
                                    }
                                </div>
                            </div>
                        </div>
                    }


                }

                <div id="" class="p-3 titulo">
                    <h2>Avisos</h2>
                </div>
                @foreach (var item in Model)
                {

                    if (item.TipoInformacion.Descripcion.Equals("Aviso"))
                    {

                        <div class="col-sm-6">
                            <div class="card">

                                <div class="card-body">

                                    <h5 class="card-title">@Html.DisplayFor(modelItem => item.TipoInformacion.Descripcion)</h5>
                                    <h6 class="card-subtitle mb-2 text-muted">  @Html.DisplayFor(modelItem => item.Texto)</h6>

                                    @if (item.Doc1 != null)
                                    {
                                        <a class="btn btn-primary"  href="@Url.Action("DescargarArchivo", "Home", new {id=item.Id})"><i class="fa-solid fa-file-arrow-down p-1"></i>Descargar</a>
                                    }
                                </div>
                            </div>
                        </div>
                    }


                }


            </div>
        </div>
    </div>

    @*DERECHA*@
    <div class="col-xl-8  h-md-100" id="contenedor-derecha">
        <div class="container-fluid">
            <div id="" class="p-3 titulo">
                <h2>MAPA CONDOMINAL</h2>
            </div>
            <div>
                <img id="img-mapa"
                     src="~/Content/img/mapaConceptual.png" alt="Mapa conceptual de Condominios" />
            </div>

        </div>
    </div>


</div>