@*@model Infrastructure.Models.Usuario*@


<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">

        @Html.ActionLink("Condominios Jane Doe", "Index", "Home", null, new { @class = "navbar-brand" })
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor02" aria-controls="navbarColor02" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarColor02">
            <ul class="navbar-nav me-auto">

                @if (Session["User"] != null)
                {
                    Infrastructure.Models.Usuario oUsuario = (Infrastructure.Models.Usuario)Session["User"];
                    if (oUsuario.IdTipoUsuario.ToString() == "1")
                    {
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Mantenimientos</a>
                            <div class="dropdown-menu">
                                @Html.ActionLink("Gestión de Usuarios", "Index", "Usuario",
                                                                      null, new { @class = "dropdown-item" })
                                <div class="dropdown-divider"></div>
                                @Html.ActionLink("Gestión de Residencias", "Index", "Residencia",
                                                                       null, new { @class = "dropdown-item" })
                                <div class="dropdown-divider"></div>
                                @Html.ActionLink("Gestión de Rubros de Cobro", "IndexMante", "RubroCobro",
                                                                       null, new { @class = "dropdown-item" })
                                <div class="dropdown-divider"></div>
                                @Html.ActionLink("Gestión de Planes de Cobro", "Index", "PlanCobro",
                                                                       null, new { @class = "dropdown-item" })
                                <div class="dropdown-divider"></div>
                                @Html.ActionLink("Gestión de Cuentas", "IndexMante", "Deuda",
                                                                       null, new { @class = "dropdown-item" })
                                <div class="dropdown-divider"></div>
                                @Html.ActionLink("Gestión de Información", "IndexMante", "Home",
                                                                       null, new { @class = "dropdown-item" })
                                <div class="dropdown-divider"></div>
                                @Html.ActionLink("Gestión de Incidentes", "IndexMante", "Incidente",
                                                                       null, new { @class = "dropdown-item" })
                                <div class="dropdown-divider"></div>
                                @Html.ActionLink("Gestión de Reservaciones", "IndexMante", "Reservacion",
                                                                       null, new { @class = "dropdown-item" })

                            </div>
                        </li>

                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Reportes</a>
                            <div class="dropdown-menu">
                                @Html.ActionLink("Reporte de deudas", "Deudas", "Reporte",
                                                                      null, new { @class = "dropdown-item" })
                                <div class="dropdown-divider"></div>
                                @Html.ActionLink("Reporte de ingresos", "graficoIngresos", "Reporte",
                                                                       null, new { @class = "dropdown-item" })

                            </div>
                        </li>

                    }

                }




                @* Texto Usuario, Accion, Controlador*@



                <li>
                    @Html.ActionLink("Incidencias", "Index", "Incidente",
                    null, new { @class = "nav-link" })
                </li>

                <li>
                    @Html.ActionLink("Reservaciones", "Index", "Reservacion",
                    null, new { @class = "nav-link" })
                </li>



                <li>
                    @Html.ActionLink("Estado de Cuenta", "Index", "Deuda",
                    null, new { @class = "nav-link" })
                </li>

                <li>
                    @Html.ActionLink("Acerca de", "About", "Home",
                    null, new { @class = "nav-link" })
                </li>
                <li>@Html.ActionLink("Contacto", "Contact", "Home", null, new { @class = "nav-link" })</li>
                <li class="nav-item dropdown">
                    @* Información usuario *@
                    @{
                        String nombre = "";
                        String email = "Perfil";

                        if (Session["User"] != null)
                        {
                            Infrastructure.Models.Usuario usuario = new Infrastructure.Models.Usuario();
                            usuario = (Infrastructure.Models.Usuario)Session["User"];
                            nombre = usuario.Nombre + " " + usuario.Apellido;
                            email = usuario.Email;
                        }
                    }
                    <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown"
                       href="#" role="button" aria-haspopup="true"
                       aria-expanded="false"><i class="fa-solid fa-user"></i>@email</a>


                    <div class="dropdown-menu">
                        @if (Session["User"] != null)
                        {
                            <div class="dropdown-item">
                                @* Nombre Usuario *@
                                Usuario: @nombre
                            </div>
                        }

                        @if (Session["User"] == null)
                        {
                            <a class="dropdown-item"
                               @*Accion, Controlador*@
                               href="@Url.Action("Index","Login")">
                                <i class="fa-solid fa-user-plus"></i>
                                Iniciar sesión
                            </a>
                        }
                        else
                        {
                            <a class="dropdown-item"
                               href="@Url.Action("Logout","Login")">
                                <i class="fa-solid fa-right-from-bracket"></i>
                                Cerrar sesión
                            </a>
                        }
                    </div>
                </li>
            </ul>

        </div>

    </div>
</nav>
