@model Infrastructure.Models.Deuda

@{
    ViewBag.Title = "Details";
}

<h2>Detalle del Estado de Cuenta</h2>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Residencia.Usuario.Nombre)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Residencia.Usuario.Nombre) 
            @Html.DisplayFor(model => model.Residencia.Usuario.Apellido)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Residencia.Id)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Residencia.Id)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PlanCobro.Descripcion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PlanCobro.Descripcion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Fecha)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Fecha)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PendientePago)
        </dt>
        <dd>
            @Html.Encode(Model.PendientePago ? "Pendiente" : "Pagado")
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MontoPagado)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.MontoPagado)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PlanCobro.MontoTotal)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.PlanCobro.MontoTotal)
        </dd>
    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
    @Html.ActionLink("Back to List", "Index")
</p>
