@model IEnumerable<Infrastructure.Models.Deuda>

@{
    ViewBag.Title = "Listado de Deudas";
}

<h2>Estados de Cuenta</h2>

<p>
    <a href="@Url.Action("IndexMante", "Deuda")" class="btn btn-primary"><i class="fa-solid fa-plus"></i> Mantenimiento </a>
    @*@Html.ActionLink("Crear", "Create")*@
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Residencia.Usuario.Nombre)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.IdResidencia)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PendientePago)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PlanCobro.Descripcion)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Residencia.Usuario.Nombre)
            @Html.DisplayFor(modelItem => item.Residencia.Usuario.Apellido)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.IdResidencia)
        </td>
        <td>
            @*Cambia el texto dependiendo del valor*@
            @Html.Encode(item.PendientePago ? "Pendiente" : "Pagado")
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PlanCobro.Descripcion)
        </td>
        <td>
            <a href="@Url.Action("Details", "Deuda", new {id=item.Id})"
               class="btn btn-primary">Detalles</a>
        </td>
    </tr>
}

</table>
