@model IEnumerable<Infrastructure.Models.Residencia>

@{
    ViewBag.Title = "Index";
}

<h2>Mis residencias</h2>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Usuario.Nombre)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Descripcion)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Deuda)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Usuario.Nombre)
                @Html.DisplayFor(modelItem => item.Usuario.Apellido)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Descripcion)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Deuda.Count)
            </td>
            <td>
                <a href="@Url.Action("Details", "Deuda", new {id=item.Id})"
                   class="btn btn-primary">Detalles</a>
            </td>
        </tr>
    }

</table>
