@model IEnumerable<Infrastructure.Models.Deuda>

@{
    ViewBag.Title = "Index";
}

<h2>Estados de Cuenta</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.PendientePago)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MontoPagado)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Borrado)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PlanCobro.Descripcion)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Residencia.Id)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.PendientePago)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.MontoPagado)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Borrado)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PlanCobro.Descripcion)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Residencia.Id)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
        </td>
    </tr>
}

</table>
